.o_list_view table {
    th:nth-child(1), td:nth-child(1) {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    th:nth-child(2), td:nth-child(2) {
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }
    th:nth-child(3), td:nth-child(3) {
        width: 150px !important;
        min-width: 150px !important;
        max-width: 150px !important;
    }
    th:nth-child(4), td:nth-child(4) {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }
    th:nth-child(5), td:nth-child(5) {
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }
    th:nth-child(6), td:nth-child(6) {
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }
    th:nth-child(7), td:nth-child(7) {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }
    th:nth-child(8), td:nth-child(8) {
        width: 140px !important;
        min-width: 140px !important;
        max-width: 140px !important;
    }
    th:nth-child(9), td:nth-child(9) {
        width: 110px !important;
        min-width: 110px !important;
        max-width: 110px !important;
    }
    th:nth-child(10), td:nth-child(10) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
    th:nth-child(11), td:nth-child(11) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
    th:nth-child(12), td:nth-child(12) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
    th:nth-child(13), td:nth-child(13) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
    th:nth-child(14), td:nth-child(14) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
    th:nth-child(15), td:nth-child(15) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
}
